<div class="layout-wrapper" [ngClass]="{'layout-overlay':isOverlay(),
                                'layout-static':isStatic(), 
                                'layout-overlay-sidebar-active': overlayMenuActive,
                                'layout-static-sidebar-inactive': staticMenuInactive,
                                'layout-mobile-sidebar-active':menuActiveMobile}">
                                
    <pms-nav 
    [topMenuActive]="topMenuActive" 
    (toggleMenuHandleEvent)="toggleMenu($event)" 
    (toggleTopMenuHandleEvent)="toggleTopMenu($event)"></pms-nav>

    
    <div class="layout-sidebar">
        <pms-menu></pms-menu>
    </div>
    
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>
